@model IEnumerable<BKProjekt.Models.Book>

@{
    ViewData["Title"] = "Książki";
}

<h1 class="fw-semibold">Lista książek</h1>

<p>
    @if (User.IsInRole("keeper") || User.IsInRole("admin"))
    {
        <a asp-action="Create" class="btn-secondary">Dodaj książkę</a>
    }
    
</p>
<div class="card-group">
@foreach (var item in Model) {

    <div class="card" style="width: 20rem;">
        <div class="card-body">
                <h5 class="card-title"><b>@Html.DisplayFor(modelItem => item.Title)</b></h5>
            <p class="card-header"><b>Autor: </b> @Html.DisplayFor(modelItem => item.Author)</p>
                <p class="card-text"><b>Opis: </b><br />@Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text small"><b>Strony: </b>@Html.DisplayFor(modelItem => item.TotalPages)</p>
                @if (User.IsInRole("keeper") || User.IsInRole("admin") || User.IsInRole("user"))
                {
                    <p class="card-footer"><b>Status: </b>@Html.DisplayFor(modelItem => item.Status)</p>
                }
                    @if (User.IsInRole("user") && item.Status == "Nie")
                    {
                        <form asp-action="Borrow" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-success m-2">Wypożycz</button>
                        </form>
                    }

                    @if (User.IsInRole("user") && item.Status == "Wypożyczona")
                    {
                        <form asp-action="Return" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-info m-2">Oddaj</button>
                        </form>
                    }
                    @if (User.IsInRole("keeper") || User.IsInRole("admin") || User.IsInRole("user"))
                    {
                        <form asp-action="Details" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-secondary m-2">Szczegóły książki</button>
                        </form>
                    }
                    @if (User.IsInRole("admin") || User.IsInRole("keeper"))
                    {
                        <form asp-action="Delete" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-danger m-2">Usuń</button>
                        </form>
                        <form asp-action="Edit" method="post" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn-primary m-2">Edytuj</button>
                        </form>
                    }
        </div>
    </div>
    
    }
</div>